@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #84878E;
  }
  button {
    background-color: inherit;
  }
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}
.Logo{
  fill: #efefef;
  font-family:'Gilroy-Bold', sans-serif ;
  letter-spacing: 0em;
  color: #efefef;
  line-height: 2rem;
  font-size: 2.5rem;
}
.Ogztrn{
  fill: #efefef;
  font-family:'Gilroy-Bold', sans-serif ;
  letter-spacing: 0em;
  color: #efefef;
  line-height: 2rem;
  font-size: 2.5rem;
}